[submodule ".registry"]
	path = .registry
	url = https://github.com/jatanrt/jatanrt.r-universe.dev
	branch = HEAD
[submodule "eprscope"]
	path = eprscope
	url = https://github.com/jatanrt/eprscope
[submodule "icons"]
	path = icons
	url = https://github.com/mitchelloharawild/icons
	registered = false
